<div class="container">
  <section class="text-wrapper">
    <header class="text-header">
      <h1>Sobre</h1>
    </header>
    <article class="text-body">
      <p>
        Vestibulum accumsan sodales ante at efficitur. Proin id mauris turpis. Nullam euismod finibus orci, et mattis urna ullamcorper vitae. Curabitur in egestas dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin pharetra, enim at volutpat hendrerit, quam neque ornare mi, pellentesque placerat tortor leo non metus. Nullam ornare mollis sagittis. Quisque lobortis nulla et efficitur sollicitudin. Aenean finibus lacus ligula, bibendum porta ligula fermentum dictum. Proin lorem ex, viverra lobortis sodales nec, tempus sed odio. Morbi eleifend consequat dignissim. Proin gravida neque eros, in cursus massa finibus ut. In vestibulum fermentum molestie. Maecenas eu porttitor augue, et lacinia quam. Sed euismod nulla nibh.
      </p>
      <p>
        Nullam urna urna, eleifend sed gravida id, porta in dolor. Nunc ultrices pharetra arcu, ut mollis mi consequat vitae. Integer consequat suscipit orci. Sed vel fermentum lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus eget nunc non mi hendrerit accumsan ac quis risus. Proin mattis nulla sed metus porta, vel placerat justo finibus. Praesent a tellus tristique, tincidunt mauris non, commodo diam. Etiam et orci vel quam condimentum ultricies.
      </p>
    </article>
  </section>
</div>
