<div class="row">
  <div class="col-lg-8 col-lg-offset-2">

    <br><br>
    <h3 class="text-center">Fornecedores mais fiéis a municípios da Paraíba</h3>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">

        <select class="form-control" ng-model="main.ano" ng-change="main.getFornecedores()">
          <option value="2008">Legislatura de 2008 a 2012</option>
          <option value="2012">Legislatura de 2012 a 2016</option>
        </select>
        <br>
        <select class="form-control" ng-model="main.tipo" ng-change="main.getFornecedores()">
          <option value="1">Mais licitações ganhas</option>
          <option value="2">Maior valor total de licitações ganhas</option>
        </select>

      </div>
    </div>
    </p>
    <br><br>
    <div class="card" ng-repeat="fornecedor in main.fornecedores">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-8">
            <div class="card-title">{{fornecedor.nome}}</div>
            <div class="card-subtitle">CNPJ {{fornecedor.cpfCnpj}}</div>
          </div>
          <div class="col-sm-4">
            <p class="text-right">{{fornecedor.numEmpenhos}} licitações ganhas</p>
            <p class="text-right">{{fornecedor.valorEmpenhos | currency:'R$ '}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-sm-offset-8 col-lg-3 col-lg-offset-9">
            <a ui-sref="fornecedor({cpfCnpj: fornecedor.cpfCnpj})" class="btn btn-block btn-primary">
              <span class="glyphicon glyphicon-eye-open"></span> Detalhes
            </a>
          </div>
        </div>

      </div>
      <div class="card-body"></div>
      <div class="card-footer">

      </div>
    </div>

  </div>
</div>
