$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "customVariables";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "bootstrapCustom";

body {
  font-family: 'Montserrat', sans-serif;
}

.header-title {
  margin-top: 60px;
  margin-bottom: 60px;

  @media screen and (max-width: $screen-sm) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.header-subtitle {
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 14px;
}

.card {
  border-radius: 2px;
  padding: $padding-large-vertical $padding-base-horizontal;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-subtitle {
  color: $gray-dark;
  font-size: 12px;
}
